* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.sidebar {
    font-family: 'Quicksand', sans-serif;
    background-color: #d9d9d9;
    height: 100vh;
    width: 240px;
}

.header-sidebar {
    font-size: 14px;
    background-color: #a4a3a3;
    height: 30px;
    padding-left: 45px;
    padding-top: 10px;
    background-image: url(img/logo\ tb.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.list-sidebar {
    margin: 48px 50px 50px 40px;
    transition: all .5s ease;
}

.list-sidebar:hover {
    margin-left: 80px;
    
}

.list-sidebar1 {
    margin-left: 40px;
    margin-top: -22px;
    transition: all .5s ease;
}

.list-sidebar1:hover {
    margin-left: 80px;
    
}

.list-sidebar p:first-child {
    padding-bottom: 30px;
}

table {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 20%;
    left: 27%;
    float: right;
    width: 65vw;
    border-spacing: 0;
    box-shadow: 0 0 10px;
}

table th {
    background-color: #a4a3a3;
    width: 5vw;
    padding: 10px 10px;
}

table td {
    background-color: #ece9e9;  
    text-align: center;
    padding: 5px 15px;
}

.table th:nth-child(5) {
    width: 40px;
}

.btn {
    padding-left: 25px;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left: 54%;
    bottom: 30%;
    width: 9vw;
    border-radius: 20px;
    background-color: #a4a3a3;
}

.button a:first-child {
    padding-left: 15px;
}

.footer {
    bottom: 0.1px;
    position: absolute;
    background-color: #327382;
    height: 150px;
    width: 1040px;
    margin-left: 240px;
    background-image: url(img/logo\ tb.png);
    background-repeat: no-repeat;
    background-size: 180px;
}

.footer h2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

button:first-child {
    color: black;
    background-color: greenyellow;
    border: 1px solid;
    border-radius: 5px;
    width: 4vw;
    float: left;
    text-decoration: none;
    transition: all .3s ease;
}

button:first-child:hover {
    background-color: white;
    margin-top: -3px;
    box-shadow: 0 0 5px;
}

button:nth-child(2) {
    background-color: red;
    border: 1px solid;
    border-radius: 5px;
    width: 4vw;
    float: right;
    margin-left: -40px;
    transition: all .3s ease;
}

button:nth-child(2):hover {
    background-color: white;
    margin-top: -3px;
    box-shadow: 0 0 5px;
    
}

a {
    text-decoration: none;
}
