* {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    /* display: block; */
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

h3 {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    top: 10%;
    left: 30%;
}

.sidebar {
    background-color: #d9d9d9;
    height: 100vh;
    width: 240px;
    display: block;
}

.header-sidebar {
    background-color: #a4a3a3;
    height: 30px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 10px;
    background-image: url(img/logo\ tb.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.list-sidebar {
    margin: 50px 50px 50px 40px;
    transition: all .5s ease;
}

.list-sidebar:hover {
    margin-left: 80px;
}

.list-sidebar p:first-child {
    padding-bottom: 30px;
}

.list-sidebar1 {
    margin-left: 40px;
    margin-top: -20px;
    transition: all .5s ease;
}

.list-sidebar1:hover {
    margin-left: 80px;
}

table td {
    height: 50px;
    width: 200px;
}

table {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 20%;
    left: 30%;
}

input {
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    width: 40vw;
}

.submit {
    position: relative;
    height: 30px;
    width: 70px;
    left: 55%;
    top: 275px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #4A92CE;
    border-radius: 10px;  
    transition: all .3s ease;
    box-shadow: 0 0 5px black;
    margin-bottom: -3px;  
}

.submit:hover {
    box-shadow: none;
}

.footer {
    bottom: 0.1px;
    position: absolute;
    background-color: #327382;
    height: 150px;
    width: 1040px;
    margin-left: 240px;
    background-image: url(img/logo\ tb.png);
    background-repeat: no-repeat;
    background-size: 180px;
}

.footer h2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.card {
    color: white;
    margin-top: -100px;
    margin-left: 350px;
    background-color: #327382;
    border-radius: 10px;
    width: 800px;
    height: 320px;
}

a {
    text-decoration: none;
}